# Virtual environments
venv/
.env

# Compiled files Python
*.pyc
*.pyo
*.pyd
# Fichiers compilés Python
__pycache__/
*.py[cod]

# Db files SQLite
db.sqlite3

# migration files
migrations/

# Static and médias
staticfiles/
media/

# IDE configuration
.idea/
.vscode/
api_gateway_settings/settings.py

# Dossier temporaire
/tmp/