# Virtual environments
venv/
.env

# Compiled files Python
*.pyc
__pycache__/

# Db files SQLite
db.sqlite3

# migration files
migrations/

# Static and médias
staticfiles/
media/

# IDE configuration
.idea/
.vscode/

api_gateway_settings/settings.py
